<mat-toolbar color="primary">
  <mat-toolbar-row>
      <button mat-icon-button >
          <mat-icon>menu</mat-icon>
      </button>
      <span  fxHide fxShow.gt-xs>C2c</span>
      <span  fxShow fxHide.gt-xs>C2c</span>
      <span fxFlex> </span>
      <div class="text-right">
        <button type="button" (click)="openAddModal()" >Rent</button>
      </div>


  </mat-toolbar-row>

</mat-toolbar>
<div fxLayout="row">
  <button style="width: 150px;" mat-stroked-button color="primary"
      [routerLink]="[{ outlets: {'centercontent': ['smallBox']} } ]">Small box</button>
  <button style="width: 150px;" mat-stroked-button color="primary"
      [routerLink]="[{ outlets: { 'centercontent': ['largeBox']}  }]">Large box</button>

</div>



<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Assignee" aria-label="Assignee" matInput [formControl]="myLocationControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getLocation($event.option.value)' 
    [displayWith]="displayFn" >
      <mat-option *ngFor="let location of filteredLocations | async" [value]="location">
        {{location.place}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Assignee" aria-label="Assignee" matInput [formControl]="myItemControl" [matAutocomplete]="auto1">
    <mat-autocomplete #auto1="matAutocomplete" (optionSelected)='getItem($event.option.value)'
    [displayWith]="displayFn1" >
      <mat-option *ngFor="let item of filteredItems | async" [value]="item">
        {{item.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>






<router-outlet name='centercontent'></router-outlet>