<mat-toolbar color="primary">
  <mat-toolbar-row>
      <button mat-icon-button >
          <mat-icon>menu</mat-icon>
      </button>
      <span  fxHide fxShow.gt-xs>C2c</span>
      <span  fxShow fxHide.gt-xs>C2c</span>
      <span fxFlex> </span>
      <div class="text-right">
        <button type="button" (click)="openAddModal()" >Rent</button>
      </div>


  </mat-toolbar-row>

</mat-toolbar>
<div fxLayout="row">
  <button style="width: 150px;" mat-stroked-button color="primary"
      [routerLink]="[{ outlets: {'centercontent': ['smallBox']} } ]">Small box</button>
  <button style="width: 150px;" mat-stroked-button color="primary"
      [routerLink]="[{ outlets: { 'centercontent': ['largeBox']}  }]">Large box</button>

</div>



<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Assignee" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>




<router-outlet name='centercontent'></router-outlet>