<div class="p-3">
    <h3 class="font-weight-bold mb-4 text-center">Create New Item</h3>
    <form>
        <div class="row">

            <div class="col-md-6">
                <label>Images</label>
                <div class="card">
                    <div class="card-body">
                        <label>
                            <input type="file" id="customFile" (change)="uploadFile($event)">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right mt-4">
            <button class="btn btn-light mr-3" type="button" (click)="cancel()">cancel</button>
            <button class="btn btn-primary" type="button" (click)="addItem()">addItem
                <i class="fas fa-plus ml-2"></i>
            </button>
        </div>
    </form>
</div>

<hr> Output:
<ul>
    <li *ngFor="let message of messages">
        {{message}}
    </li>
</ul>


